{% extends "layouts/base.html" %}

{% block title %} UI Avatars {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Opciones</h4>
			</div>
			<div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Tus citas</h4>

                            </div>
                            {% for house_info in houses_info %}
                                <div class="card-body">
                                    <p class="demo">
{#                                        LEFT#}
                                    </p>
                                </div>
                                <!---Trying something new-->
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Cita</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-7 col-md-8">
                                                    <div class="tab-content" id="v-pills-without-border-tabContent">
                                                        <div class="tab-pane fade show active" id="v-pills-home-nobd" role="tabpanel" aria-labelledby="v-pills-home-tab-nobd">
                                                            <p>Tipo: {{ house_info.tipo }}</p>
                                                            <p>Zona: {{ house_info.zona }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!---end something new-->
                            {% endfor %}
                        </div>
                    </div>

		</div>
	</div>


</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}
